<app-header>
</app-header>
<div class="container">
  <div class="season one">
    <p class="text__one"> FACILITY </p>
  </div>
  <app-search ></app-search>
  <button type="button" class="btn btn-success" style="margin-top: 20px">Add New</button>
  <div class="container" style="margin:  50px auto auto ">
    <div class="row" style="text-align: center ; margin-top: 20px" >
      <div class="col-lg-4" *ngFor="let item of facilitys">
        <div class="card" style="width: 18rem;">
          <img src="assets\image-room\furama1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.nameService}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.cost}}</h6>
            <p class="card-text"></p>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-info">Edit</a>
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer>
</app-footer>
