<h1>UPDATE SAN PHAM</h1>
<form >
  <table>
    <tr>
      <td>Ma san pham:</td>
      <td><input type="number" disabled [(ngModel)]="productEdit.id" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" [(ngModel)]="productEdit.name" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" [(ngModel)]="productEdit.price" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" [(ngModel)]="productEdit.description" [ngModelOptions]="{standalone: true}"></td>
    </tr>
    <tr>
      <td></td>
      <td><button type="button" (click)="update()" >Save</button></td>
    </tr>
  </table>
</form>
