<app-header></app-header>
<div class="container" style="margin:  50px auto auto ">
  <div class="row" style="text-align: center ; margin-top: 20px" *ngFor="let item of loops" >
    <div class="col-lg-4" *ngFor="let itemImage of item">
      <div class="card" style="width: 18rem;">
        <img src="assets\image-room\furama{{itemImage}}.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Room</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-danger">Delete</a>
          <a href="#" class="btn btn-info">Edit</a>
        </div>
      </div>
    </div>
</div>

<nav aria-label="Page navigation example" style="margin-top: 50px ">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link bi bi-arrow-left" style="background-color: #046056"></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link bi bi-arrow-right" style="background-color: #046056" href="#"></a>
    </li>
  </ul>
</nav>

<button (click)="goToTop()" class="backToTop visible">
  <i class="bi bi-arrow-up"></i>
</button>
<app-footer></app-footer>
