
<div class="form">
  <h2 id="registration">Create Employee</h2>
  <form [formGroup]="contractForm" (ngSubmit)="submitContract()">
    <div class="">
      <label for="id">customerCode:</label>
      <input type="text" class="form-control" id="id" formControlName="id" >
    </div>

    <div class="">
      <label for="contractCode">contract Code:</label>
      <input type="text" class="form-control" id="contractCode" formControlName="contractCode">
      <div class="form-text text-danger" *ngIf=" !this.contractForm.controls.contractCode?.valid && (this.contractForm.controls.contractCode?.touched || this.contractForm.controls.contractCode?.dirty)">
        Error
      </div>
    </div>

    <div class="">
      <label for="customerCode">Customer Code:</label>
      <select  class="form-control" id="customerCode" formControlName="customerCode">
        <option *ngFor="let item of customers " [value]="item.id">{{item.fullName}}</option>
      </select>
    </div>

    <div class="">
      <label for="facilityCode">Facility Code:</label>
      <select  class="form-control" id="facilityCode" formControlName="facilityCode">
        <option *ngFor="let item of facilitys" [value]="item.id">{{item.nameService}}</option>
      </select>
    </div>

    <div class="">
      <label for="startDay">startDay:</label>
      <input type="date" class="form-control" id="startDay" formControlName="startDay">
      <div class="form-text text-danger" *ngIf="!this.contractForm.controls.startDay?.valid && (this.contractForm.controls.startDay?.touched || this.contractForm.controls.startDay?.dirty)">
        error
      </div>
    </div>

    <div class="">
      <label for="endDay">endDay:</label>
      <input type="date" class="form-control" id="endDay" formControlName="endDay" >
      <div class="form-text text-danger" *ngIf="!this.contractForm.controls.endDay?.valid && (this.contractForm.controls.endDay?.touched || this.contractForm.controls.endDay?.dirty)">
        error
      </div>
    </div>

    <div class="">
      <label for="deposit">deposit:</label>
      <input id="deposit" class="form-control" formControlName="deposit" type="number">
      <div class="form-text text-danger" *ngIf="!this.contractForm.controls.deposit?.valid && (this.contractForm.controls.deposit?.touched || this.contractForm.controls.deposit?.dirty)">
        error
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
