<app-header>
</app-header>
<div class="container">
  <div class="season one">
    <p class="text__one"> CONTRACT </p>
    <input type="search" placeholder="Search" style="border-radius: 30px" [(ngModel)]="searchValue">

  </div>
  <button type="button" class="btn btn-success" style="margin-top: 20px" routerLink="/contract/create">Add New</button>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Facility Name</th>
      <th scope="col">Start Day</th>
      <th scope="col">End Day</th>
      <th scope="col">Deposit</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of contracts| searchFilter :searchValue, index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.contractCode}}</td>
      <td>
        <ng-container *ngFor="let i of customers">
          <div *ngIf="item.customerCode == i.id">
            <span>{{i.fullName}}</span>
          </div>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let f of facilitys">
          <div *ngIf="item.facilityCode == f.id">
            <span>{{f.nameService}}</span>
          </div>
        </ng-container>
      </td>
      <td>{{item.startDay | date:'dd-MM-yyyy'}}</td>
      <td>{{item.endDay | date:'dd-MM-yyyy'}}</td>
      <td>{{item.deposit | currency:"VND":true:'4.2-2'}}</td>
      <td>
        <button type="button" class="btn btn-primary bi bi-pencil-square" [routerLink]="['/contract/edit',item.id]"></button>
        <button type="button" class="btn btn-danger bi bi-trash" (click)="deleteContract(item.id)"></button>
        <button type="button" class="btn btn-info bi bi-arrow-up-right-circle-fill" data-toggle="modal" data-target="#exampleModal"></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>

</div>

<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        I want to delete this record
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<app-footer>
</app-footer>
