<app-header>
</app-header>
<div class="container">
  <div class="season one">
    <p class="text__one"> EMPLOYEE </p>
  </div>
  <app-search (searchTextChange)="onSearchTextEntered($event)" ></app-search>
  <button type="button" class="btn btn-success" style="margin-top: 20px" routerLink="/employee/create">Add New</button>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Code</th>
      <th scope="col">numberPhone</th>
      <th scope="col">email</th>
      <th scope="col">certificate</th>
      <th scope="col">place</th>
      <th scope="col">salary</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let item of employees | paginate :{itemsPerPage: tableSize, currentPage: page,totalItems: count} , index as i">
    <tr *ngIf="searchText === '' || item.fullName.toLowerCase().includes(searchText)">
      <th scope="row">{{i+1}}</th>
      <td>{{item.fullName | titlecase}}</td>
      <td>{{item.dateOfBirth | date:'dd-MM-yyyy' }}</td>
      <td>{{item.code}}</td>
      <td>{{item.numberPhone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.certificate.name }}</td>
      <td>
        <ng-container *ngFor="let temp of positions ">
            <div *ngIf="temp.id == item.place">
              <span>{{temp.name}}</span>
            </div>
        </ng-container>
      </td>
      <td>{{item.salary }}</td>
      <td>
        <button type="button" class="btn btn-primary bi bi-pencil-square" [routerLink]="['/employee/edit',item.id]"></button>
        <button type="button" class="btn btn-danger bi bi-trash"  data-toggle="modal" data-target="#delete" (click)="deleteEmployee(item.id)"></button>
        <button type="button" class="btn btn-info bi bi-arrow-up-right-circle-fill" data-toggle="modal" data-target="#exampleModal"></button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>



<app-footer>
</app-footer>
